# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Configuración de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos grandes o binarios (imágenes Docker exportadas, etc.)
*.tar
*.img

# Datasets locales




